/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html, body {
  min-height: 100%;
  min-height: 100svh;
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: #6a0dad;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: #6a0dad;
  color: #ffffff;
}

.task__item {
  padding: 20px;
  border: 1px solid #6a0dad;
  margin: 10px;
}

.task__add-btn {
  margin-top: 15px;
}

.project__item.active {
  background: #000000;
  color: #ffffff;
}

.project__add {
  background-color: #4b57db;
  color: #ffffff;
}

.project__btn-wrap {
  margin-top: 20px;
}

.project__body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.project__modal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 25px;
  background: #6a0dad;
  color: #ffffff;
}

.project__add-input {
  margin-bottom: 10px;
}

.project__label {
  margin-top: 10px;
}

.project__val-msg {
  color: #ff0000;
}
