@use '../abstracts/variables' as *;

html, body {
    min-height: 100%;
    min-height: 100svh;
    min-height: 100vh;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    transition: $default-transition opacity;
}

a:hover {
    opacity: 0.7;
}

button {
    cursor: pointer;
}