@use './breakpoints';

@mixin mobile-up {
    @media only screen and (min-width: $phone) {
       @content;
    }
}

@mixin tablet-up {
    @media only screen and (min-width: $tablet) {
        @content;
    }
}

@mixin landscape-up {
    @media only screen and (min-width: $tablet-landscape) {
        @content;
    }
}

@mixin laptop-up {
    @media only screen and (min-width: $laptop) {
        @content;
    }
}

@mixin desktop-up {
    @media only screen and (min-width: $desktop) {
        @content;
    }
}

@mixin desktop-lg-up {
    @media only screen and (min-width: $desktop) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}