$black: #0f0f0f;
$pale-blue: #232d3f;
$dark-teal: #005b41;
$teal: #008170;
$white: #ffffff;
$purple: #6a0dad;
$blue: #4b57db;
$medium-blue: #176b87;
$pale-light-blue: #9DB2BF;
$light-blue: #64ccc5;
$red: #ff0000;
$gray: #808080;

$default-transition: 0.3s ease-in-out;
$quick-transition: 0.3s ease;