@use './abstracts/variables';
@use './abstracts/mixins';
@use './base/reset';
@use './base/base';
@use './base/typography';
@use './components/header';
@use './components/footer';
@use './components/task';
@use './components/projects';